.section-page
  br
  
  h2 Preise
  p Achtung: Alle Preise sind pro Person und pro Nacht.
  fieldset.form-item.flat
    .form-select.select--prices
      select.date(onchange='javascript:changePrices.singleSelection(this);')
        option(value='0') 01 Dez 2015 - 30 Jun 2016 
        option(value='1') 01 Jul 2016 - 30 Nov 2016 
        option(value='2') 01 Dez 2016 - 30 Jun 2017 
    
  .prices
    .heading
      label Bush camping
        span 2 Nächte Minimum
      label Pioneer camping
        span 2 Nächte Minimum
    .content
      .content-item.toggle-highlight
        span(data-value="price-0") #{rate1}
        span(data-value="price-1" style='display:none') #{rate2}
        span(data-value="price-2" style='display:none') #{rate3}
      .content-item.toggle-highlight
        span(data-value="price-0") #{rate4}
        span(data-value="price-1" style='display:none') #{rate5}
        span(data-value="price-2" style='display:none') #{rate6}
    
    .ctas  
      a.button.button--link.cta-request(href='#!') Anfrage        
      a.button.button--link.cta-book(href='http://www.nightsbridge.co.za/bridge/Search?bbid=11760' target='_blank') Buchen
  p 
    <strong>Preise sind inklusive:</strong> Camping, 3-Gang-Abendessen, Frühstücksbuffet und 1 Aktivität (Wahl zwischen: Cats Unlimited / Game drive / Mountain drive / Ausritte). Das Mittagessen ist nicht enthalten und kann separat gebucht werden.
  
  h4 Über unsere Preise
  ul.default
    li 15% Mehrwertsteuer, Landsteuer, 2% staatliche Bettensteuer und Conservation Gebühr sind im Preis inbegriffen.
    li Jede Veränderung unserer neuen Steuern ist nicht im Preis inbegriffen
    li Wenn Sie über ein Reisebüro oder Touroperator buchen, erwähnen Sie bitte unbedingt: Halbpension <strong>inklusive</strong> der Aktivitäten. Das ist unser Packagepreis. Wenn <strong>nur</strong> Halbpension gebucht wird, sind die Aktivitäten <strong>nicht</strong> dabei.
  
  h5 Conservation Gebühr
  p Bei einer Farm von 14 000 ha mit einigem Wild, also auch Großwild, entstehen bei uns auch Kosten wie in einem öffentlichen Park um Wege, Zäune, Bohrlöcher, Dämme, Feuerschneisen oder andere umweltbezogene Kosten (wenn ich z.B nur an unsere eigene umweltfreundliche Abwasserentsorgung denke, siehe hierzu auch Eco Award). Außerdem müssen wir auf den Farmen per Gesetz Unterkünfte für die Mitarbeiter bauen. In der Vergangenheit haben wir alle diese Kosten NUR mit den Zimmerpreisen abgedeckt ohne es extra zu erwähnen. Seit 2010 haben wir diese "conservation fee" eingerichtet, wie in den staatlichen Parks damit mehr Tranparenz besteht. Jetzt sollte jeder besser in der Lage sein, unsere Preise mit einem städtischen B&B oder Hotel zu vergleichen, wo diese zusätzlichen Hege-und Wartungskosten gar nicht bestehen.
    
  h2 Mehr Informationen
  
  h4 Ermäßigung für Kinder
  
  ul.list--benefits
    li 0 bis 3 Jahre: Gratis
    li 4 bis 12 Jahre: 50%
    
  h4 Stornogebühr
  ul.default
    li mit der Bestätigung ist eine nichtrückerstattbare Anzahlung von 25 % der gebuchten Leistungen fällig, sonst ist die Buchung nicht gültig;
    li 28 - 15 Tage vor Anreise: 50 % der gebuchten Leistungen;
    li ab 14 Tage vor Anreise und no show: 100% der gebuchten Leistungen;
    li Preisänderungen vorbehalten insbesondere in Bezug auf Treibstoff, Mehrwertsteuer, Bettensteuer, Landsteuer oder sonstige staatliche Gebühren;
    li Die Buchung gilt erst dann als bestätigt, wenn uns ein schriflicher Abbuchungsauftrag für die Kreditkarte als nichtrückerstattbare Anzahlung (25%) erteilt worden ist oder wenn eine Einzahlung von 25 % auf unser Konto erfolgt ist und ein Fax bzw. eine e-mail mit dem Einzahlungsbeleg geschickt worden ist; 

  h4 Zahlungsweise
  p Zahlungsweise vor Ort: Bar in N$, Euro oder Kreditkarte (Master oder Visa). Der Euro wird zum Tagessatz in die lokale Währung (N$) umgerechnet.
