.page-nav
  a.levelup(href='rooms.html') Back to accommodation
  
.intro-header
  .content
    h1 Felsenhaus

.section-page
  p Felsenhaus is our guesthouse with a great view overlooking the riverbed. This guesthouse holds our 2 best rooms, which both have a en-suite bathroom. The rooms have a terrace on the opposite side, so you will be ensured of plenty of privacy. The rooms have limited air-conditioning. It is limited to certain fixed hours which is not manually adjustable (because of our limited power usage).
  br 
  p.center Have a look inside the room
  .center
    a.book(href='https://goo.gl/maps/Z26rDndEVeN2', target="_blank") Virtual tour 
  br
.section-page
          
  #gallery.gallery
  
    - for (var i = 1; i < 13; ++i) 
      a.gallery__item(href='content/img/#{pageslug}/original/#{pageslug}#{i}.jpg')
        img.lazyload(src='content/img/blank.png', data-src='content/img/#{pageslug}/small/#{pageslug}#{i}.jpg')  
